<div{{attributes.addClass('card').addClass(extra_classes|default([])) }}>
  <div class="card__content">
    <div class="card__title">
      <h3>{{ title }}</h3>
    </div>
    
    {# How to nest the atom in the molecule? #}
    <span class="tag tag--university">
      <span class="tag__icon icon icon--extra-small">
        <img src="../src/icons/shield-solid.svg" />
      </span>
      Tag Example
    </span>
      
    <div class="card__summary">
      <p>{{ summary }}</p>
    </div>
    
    <a class="button button--ghost">
      {{ link }}
    </a>
  </div>
  
  <div class="card__image">
    {{ image }}
  </div>
</div>
