<{{ html_tag|default('button')}}{{attributes.setAttribute('href',url).addClass('button').addClass(state).addClass(extra_classes|default([])) }}>
  {% block button_content %}
    {% if icon %}
      <span class="button__icon">
          {# {{ icon}} #}
          {{ source(path ~ '../components/example-content/icons/' ~ icon ~ '.svg') }}
      </span>
    {% else %}
      {# no icon #}
    {% endif %}
  
    {{ content }}
  {% endblock %}

</{{ html_tag|default('button') }}>
